* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility!important;
}

html, body {
    color: white;
    background-color: #242424;
    font-family: OpenSans, sans-serif;

    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

hr {
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid #c8c8c8;
}
h1 {
    font-size: 12px;
    padding-left: 2px;
}

p {
    font-size: 12px;
    color: gray;
    font-style: italic;
}

.settings-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-bottom: 10px;
}

.settings-header {
    padding-left: 2px;
    width: 575px;
}

.settings-header h2 {
    font-size: 14px;
}

.settings-option {

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    
    
}

.settings-tickbox {

    width: 24px;
    height: 24px;
}

.settings-textarea:focus {
    border: 2px solid #FD6671;
    outline: none;

    margin-right: -1px;
}

.settings-textarea {
    border-radius: 3px;
    color:white;
    background-color: #212121;
    width: 120px;
    margin-right: 1px;
    height: 24px;

    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;

    outline: none;
    box-shadow: none;
    border: none;
}

.settings-savebutton button {
    padding-bottom: 10px;
    padding-top: 10px;
   
    padding: 4px 8px;

    outline: none;
    box-shadow: none;
    border: none;

    background-color: #2D2D2D;
    
    color: white;

    cursor: pointer;

    border-radius: 6px;
    font-size:16px;
}

.settings-savebutton button:hover {
    background-color: #4D4D4D;
    transition: background-color .2s ease;
}